:root{
        color: rgb(103, 132, 187);
        font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url(../images/1000284311.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    margin: 0; 
    padding: 0;
}

#d3{
    display: flex;
    flex-direction: row;
}
#space{
    height: 80vh;
    width: 3vw;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size:large;
}